<!DOCTYPE html>
<!-- 
Sistema: Sistema de Classificação e Rastreabilidade de Produtos Especiais
Version: 1.0
Author: Wesley McAndrews
Website: http://www.mcandrews.com.br/
-->
<!--[if IE 8]> <html lang="pt-BR" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="pt-BR" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!--> <html lang="pt-BR" class="no-js"> <!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
   <meta charset="utf-8" />
   <title>AgTracer | Cadastro</title>
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta content="width=device-width, initial-scale=1.0" name="viewport" />
   <meta content="" name="description" />
   <meta content="" name="author" />
   <meta name="MobileOptimized" content="320">
   <!-- BEGIN GLOBAL MANDATORY STYLES -->          
   <link href="assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
   <link href="assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
   <link href="assets/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css"/>
   <!-- END GLOBAL MANDATORY STYLES -->
   <!-- BEGIN PAGE LEVEL STYLES -->
   <link rel="stylesheet" type="text/css" href="assets/plugins/gritter/css/jquery.gritter.css" />
   <link rel="stylesheet" type="text/css" href="assets/plugins/select2/select2_metro.css" />
   <link rel="stylesheet" type="text/css" href="assets/plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.css" />
   <link rel="stylesheet" type="text/css" href="assets/plugins/jquery-multi-select/css/multi-select.css" />
   <!--<link rel="stylesheet" type="text/css" href="assets/plugins/bootstrap-switch/static/stylesheets/bootstrap-switch-metro.css"/>-->
   <link rel="stylesheet" type="text/css" href="assets/plugins/bootstrap-switch/static/stylesheets/bootstrap-switch.css"/>
   <link rel="stylesheet" type="text/css" href="assets/plugins/jquery-tags-input/jquery.tagsinput.css" />
   <link rel="stylesheet" type="text/css" href="assets/plugins/bootstrap-markdown/css/bootstrap-markdown.min.css"/>
   <link rel="stylesheet" type="text/css" href="assets/plugins/ion.rangeslider/css/ion.rangeSlider.css"/>
   <link rel="stylesheet" type="text/css" href="assets/plugins/ion.rangeslider/css/ion.rangeSlider.Metronic.css"/>
   <!-- END PAGE LEVEL STYLES -->
   <!-- BEGIN THEME STYLES --> 
   <link href="assets/css/style-metronic.css" rel="stylesheet" type="text/css"/>
   <link href="assets/css/style.css" rel="stylesheet" type="text/css"/>
   <link href="assets/css/style-responsive.css" rel="stylesheet" type="text/css"/>
   <link href="assets/css/plugins.css" rel="stylesheet" type="text/css"/>
   <link href="assets/css/themes/default.css" rel="stylesheet" type="text/css" id="style_color"/>
   <link href="assets/css/custom.css" rel="stylesheet" type="text/css"/>
   <!-- END THEME STYLES -->
   <link rel="shortcut icon" href="favicon.ico" />
   <script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-68585485-1', 'auto');
	  ga('send', 'pageview');

	</script>
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<body class="page-header-fixed">
   <!-- BEGIN HEADER -->   
   <div class="header navbar navbar-inverse navbar-fixed-top">
      <!-- BEGIN TOP NAVIGATION BAR -->
      <div class="header-inner">
         <!-- BEGIN LOGO -->  
         <a class="navbar-brand" href="http://www.agtracer.com" target="_blank" style="padding-top: 7px; padding-bottom: 7px;">
         <img src="assets/img/AgTracer_logo_small.png" alt="logo" class="non-img-responsive" style="height: 30px; widht: 140px;" />
         </a>
         <!-- END LOGO -->
         <!-- BEGIN RESPONSIVE MENU TOGGLER --> 
         <a href="javascript:;" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
         <img src="../wwwroot/assets/img/menu-toggler.png" alt="" />
         </a> 
         <!-- END RESPONSIVE MENU TOGGLER -->
         <!-- BEGIN TOP NAVIGATION MENU -->
         <ul class="nav navbar-nav pull-right">
            <!-- BEGIN NOTIFICATION DROPDOWN -->
           
            <!-- BEGIN INBOX DROPDOWN -->
            
            <!-- END INBOX DROPDOWN -->
            <!-- BEGIN TODO DROPDOWN -->
            
            <!-- END TODO DROPDOWN -->
			
            <!-- BEGIN USER LOGIN DROPDOWN -->
            <li class="dropdown user">
               <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
               <img alt="" src="../wwwroot/assets/img/avatar1_small.jpg"/>
               <span class="username">{%USERNAME%}</span>
               <i class="icon-angle-down"></i>
               </a>
               <ul class="dropdown-menu">
                  
                  <li><a href="javascript:;" id="trigger_fullscreen"><i class="icon-move"></i> Tela Cheia</a>
                  </li>
                  <li><a href="extra_lock.html"><i class="icon-lock"></i> Travar Tela</a>
                  </li>
                  <li><a href="javascript:;" id="PROFILELOGOUTLINK"><i class="icon-key"></i> Sair</a>
                  </li>
               </ul>
            </li>
            <!-- END USER LOGIN DROPDOWN -->
         </ul>
         <!-- END TOP NAVIGATION MENU -->
      </div>
      <!-- END TOP NAVIGATION BAR -->
   </div>
   <!-- END HEADER -->
   <div class="clearfix"></div>
   <!-- BEGIN CONTAINER -->   
   <div class="page-container">
      <!-- BEGIN SIDEBAR -->
      <div class="page-sidebar navbar-collapse collapse">
         <!-- BEGIN SIDEBAR MENU -->        
         <ul class="page-sidebar-menu">
            <li>
               <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
               <div class="sidebar-toggler hidden-phone"></div>
               <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
            </li>
            <li>
               <!-- BEGIN RESPONSIVE QUICK SEARCH FORM -->
               <div class="sidebar-search" action="extra_search.html" method="POST">
                  <div class="form-container">
                     
                  </div>
               </div>
               <!-- END RESPONSIVE QUICK SEARCH FORM -->
            </li>
            <li class="active ">
               <a href="javascript:;">
               <i class="icon-home"></i> 
               <span class="title">Editar Propriedade</span>
			   <span class="selected"></span>
               </a>
            </li>
			<li>
               <a href="javascript:;" id="VOLTARLINK">
               <i class="icon-angle-left"></i> 
               <span class="title">Voltar</span>
               </a>
            </li>
         </ul>
         <!-- END SIDEBAR MENU -->
      </div>
      <!-- END SIDEBAR -->
      <!-- BEGIN PAGE -->
      <div class="page-content">
         <!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->               
         <div class="modal fade" id="portlet-config" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
               <div class="modal-content">
                  <div class="modal-header">
                     <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                     <h4 class="modal-title">Modal title</h4>
                  </div>
                  <div class="modal-body">
                     Widget settings form goes here
                  </div>
                  <div class="modal-footer">
                     <button type="button" class="btn blue">Save changes</button>
                     <button type="button" class="btn default" data-dismiss="modal">Close</button>
                  </div>
               </div>
               <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
         </div>
         <!-- /.modal -->
         <!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
         <!-- BEGIN STYLE CUSTOMIZER -->

         <!-- END BEGIN STYLE CUSTOMIZER -->           
         <!-- BEGIN PAGE HEADER-->
         <div class="row">
            <div class="col-md-12">
               <!-- BEGIN PAGE TITLE & BREADCRUMB-->
               <h3 class="page-title">
                  Cadastros <small>cadastro de propriedade</small>
               </h3>
               <ul class="page-breadcrumb breadcrumb">
			      <!-- BEGIN ACTION BUTTON-->
                  
				  <!-- END ACTION BUTTON-->
                  <li>
                     <i class="icon-home"></i>
                     <a href="#" id="VOLTARLINK">Dashboard</a> 
                     <i class="icon-angle-right"></i>
                  </li>
				  <li>
                     <a href="#" id="VOLTARLINK">Propriedades</a> 
                     <i class="icon-angle-right"></i>
                  </li>
                  <li><a href="#">Editar Propriedade</a></li>
               </ul>
               <!-- END PAGE TITLE & BREADCRUMB-->
            </div>
         </div>
         <!-- END PAGE HEADER-->
         <!-- BEGIN PAGE CONTENT-->
         <div class="row">
            <div class="col-md-12">
				<div class="portlet box green">
				   <div class="portlet-title">
					  <div class="caption"><i class="icon-reorder"></i>Cadastro de Propriedade</div>
					  <div class="tools">
						 <a href="javascript:;" class="collapse"></a>
						 <!--<a href="#portlet-config" data-toggle="modal" class="config"></a>
						 <a href="javascript:;" class="reload"></a>
						 <a href="javascript:;" class="remove"></a>-->
					  </div>
				   </div>
				   <div class="portlet-body form">
					  <!-- BEGIN FORM-->
					  <form action="#" class="form-horizontal">
						 <div class="form-body">
							<h3 class="form-section">Informações da Propriedade</h3>
							<!--/row-->
							<div class="row">
							   <div class="col-md-6">
								  <div class="form-group">
									 <label class="control-label col-md-3">CNPJ</label>
									 <div class="col-md-9">
										{%CNPJPROPRIEDADE%}
									 </div>
								  </div>
							   </div>
							   <!--/span-->
							   <div class="col-md-6">
								  <div class="form-group">
									 <label class="control-label col-md-3">Proprietário</label>
									 <div class="col-md-9">
										{%CNPJASSOCIADO%}
									 </div>
								  </div>
							   </div>
							</div>
							<!--/row-->
							<div class="row">
							   <div class="col-md-6">
								  <div class="form-group">
									 <label class="control-label col-md-3">Nome da Propriedade</label>
									 <div class="col-md-9">
										{%NOMEPROPRIEDADE%}
									 </div>
								  </div>
							   </div>
							   <!--/span-->
							</div>
							<!--/row-->        
							<div class="row">
							   <div class="col-md-6">
								  <div class="form-group">
									 <label class="control-label col-md-3">UF</label>
									 <div class="col-md-9">
										{%UF%}
									 </div>
								  </div>
							   </div>
							   <!--/span-->
							   <div class="col-md-6">
								  <div class="form-group">
									 <label class="control-label col-md-3">Município</label>
									 <div class="col-md-9">
										{%MUNICIPIO%}
									 </div>
								  </div>
							   </div>
							</div>
							<!--/row-->
							<div class="row">
							   <div class="col-md-6">
								  <div class="form-group">
									 <label class="control-label col-md-3">Endereço</label>
									 <div class="col-md-9">
										{%ENDERECO%}
									 </div>
								  </div>
							   </div>
							   <!--/span-->
							   <div class="col-md-6">
								  <div class="form-group">
									 <label class="control-label col-md-3">Altitude</label>
									 <div class="col-md-9">
										{%QTDEALTITUDE%}
									 </div>
								  </div>
							   </div>
							</div>
							<!--/row-->
							<div class="row">
							   <div class="col-md-6">
								  <div class="form-group">
									 <label class="control-label col-md-3">Hectares de Café</label>
									 <div class="col-md-9">
										{%QTDEHECTARESCAFE%}
									 </div>
								  </div>
							   </div>
							   <!--/span-->
							   <div class="col-md-6">
								  <div class="form-group">
									 <!--<label class="control-label col-md-3">Lat/Long</label>
									 <div class="col-md-9">
										{%LATLONG%}
									 </div>-->
								  </div>
							   </div>
							</div>
							<!--/row-->
							<div class="row">
							   <div class="col-md-6">
								  <div class="form-group">
									 <label class="control-label col-md-3">Área de Reserva Legal(ha)</label>
									 <div class="col-md-9">
										{%AREARESERVALEGAL%}
									 </div>
								  </div>
							   </div>
							   <!--/span-->
							   <div class="col-md-6">
								  <div class="form-group">
									 <label class="control-label col-md-3">Area de APP(ha)</label>
									 <div class="col-md-9">
										{%AREAAPP%}
									 </div>
								  </div>
							   </div>
							</div>
							<!--/row-->
							<div class="row">
							   <div class="col-md-6">
								  <div class="form-group">
									 <label class="control-label col-md-3">APP computada como RL</label>
									 <div class="col-md-9">
										{%CHKAPPCOMPUTARL%}
									 </div>
								  </div>
							   </div>
							</div>
							<!--/row-->
							<div class="row">
							   <div class="col-md-6">
								  <div class="form-group">
									 <label class="control-label col-md-3">Histórico</label>
									 <div class="col-md-9">
										{%HISTORICO%}
									 </div>
								  </div>
							   </div>
							   <!--/span-->
							</div>
							<h3 class="form-section">Estrutura da Propriedade</h3>
							<!--/row-->        
							<div class="row">
							   <div class="col-md-6">
								  <div class="form-group">
									 <label class="control-label col-md-3">Colhedeira Própria</label>
									 <div class="col-md-9">
											   {%QTDECOLHEDEIRAPROPRIA%}
									  </div>
								  </div>
							   </div>
							</div>
							<!--/row-->        
							<div class="row">
							   <div class="col-md-6">
								  <div class="form-group">
									 <label class="control-label col-md-3">Colhedeira Alugada</label>
									 <div class="col-md-9">
											   {%QTDECOLHEDEIRAALUGADA%}
									  </div>
								  </div>
							   </div>
							</div>
							<!--/row-->        
							<div class="row">
							   <div class="col-md-6">
								  <div class="form-group">
									 <label class="control-label col-md-3">Lavador</label>
									 <div class="col-md-9">
									 {%QTDELAVADOR%}
									  </div>
								  </div>
							   </div>
							</div>
							<!--/row-->        
							<div class="row">
							   <div class="col-md-6">
								  <div class="form-group">
									 <label class="control-label col-md-3">Descascador de Cereja (Despolpador)</label>
									 <div class="col-md-9">
									 {%QTDEDESCASCADOR%}
									  </div>
								  </div>
							   </div>
							</div>
							<!--/row-->        
							<div class="row">
							   <div class="col-md-6">
								  <div class="form-group">
									 <label class="control-label col-md-3">Terreiro Terra</label>
									 <div class="col-md-9">
										{%QTDETERREIROTERRA%}
									  </div>
								  </div>
							   </div>
							   <!--/span-->
							   <div class="col-md-6">
								  <div class="form-group">
									 <label class="control-label col-md-3">Área(m2)</label>
									 <div class="col-md-9">
										{%AREATERREIROTERRA%}
									 </div>
								  </div>
							   </div>
							</div>
							<!--/row-->        
							<div class="row">
							   <div class="col-md-6">
								  <div class="form-group">
									 <label class="control-label col-md-3">Terreiro Cimento</label>
									 <div class="col-md-9">
									 {%QTDETERREIROCIMENTO%}
									  </div>
								  </div>
							   </div>
							   <!--/span-->
							   <div class="col-md-6">
								  <div class="form-group">
									 <label class="control-label col-md-3">Área(m2)</label>
									 <div class="col-md-9">
										{%AREATERREIROCIMENTO%}
									 </div>
								  </div>
							   </div>
							</div>
							<!--/row-->        
							<div class="row">
							   <div class="col-md-6">
								  <div class="form-group">
									 <label class="control-label col-md-3">Terreiro Asfalto</label>
									 <div class="col-md-9">
									 {%QTDETERREIROASFALTO%}
									  </div>
								  </div>
							   </div>
							   <!--/span-->
							   <div class="col-md-6">
								  <div class="form-group">
									 <label class="control-label col-md-3">Área(m2)</label>
									 <div class="col-md-9">
										{%AREATERREIROASFALTO%}
									 </div>
								  </div>
							   </div>
							</div>
							<!--/row-->        
							<div class="row">
							   <div class="col-md-6">
								  <div class="form-group">
									 <label class="control-label col-md-3">Terreiro Suspenso</label>
									 <div class="col-md-9">
									 {%QTDETERREIROSUSPENSO%}
									  </div>
								  </div>
							   </div>
							   <!--/span-->
							   <div class="col-md-6">
								  <div class="form-group">
									 <label class="control-label col-md-3">Área(m2)</label>
									 <div class="col-md-9">
										{%AREATERREIROSUSPENSO%}
									 </div>
								  </div>
							   </div>
							</div>
							<!--/row-->        
							<div class="row">
							   <div class="col-md-6">
								  <div class="form-group">
									 <label class="control-label col-md-3">Secador Vertical</label>
									 <div class="col-md-9">
									 {%QTDESECADORVERTICAL%}
									  </div>
								  </div>
							   </div>
							   <!--/span-->
							   <div class="col-md-6">
								  <div class="form-group">
									 <label class="control-label col-md-3">Capacidade(L)</label>
									 <div class="col-md-9">
										{%CAPACIDADESECADORVERTICAL%}
									 </div>
								  </div>
							   </div>
							</div>
							<!--/row-->        
							<div class="row">
							   <div class="col-md-6">
								  <div class="form-group">
									 <label class="control-label col-md-3">Secador Horizontal</label>
									 <div class="col-md-9">
									 {%QTDESECADORHORIZONTAL%}
									  </div>
								  </div>
							   </div>
							   <!--/span-->
							   <div class="col-md-6">
								  <div class="form-group">
									 <label class="control-label col-md-3">Capacidade(L)</label>
									 <div class="col-md-9">
										{%CAPACIDADESECADORHORIZONTAL%}
									 </div>
								  </div>
							   </div>
							</div>
							<!--/row-->        
							<div class="row">
							   <div class="col-md-6">
								  <div class="form-group">
									 <label class="control-label col-md-3">Secador Rotativo</label>
									 <div class="col-md-9">
									 {%QTDESECADORROTATIVO%}
									  </div>
								  </div>
							   </div>
							   <!--/span-->
							   <div class="col-md-6">
								  <div class="form-group">
									 <label class="control-label col-md-3">Capacidade(L)</label>
									 <div class="col-md-9">
										{%CAPACIDADESECADORROTATIVO%}
									 </div>
								  </div>
							   </div>
							</div>
							<!--/row-->        
							<div class="row">							   
							   <div class="col-md-6">
								  <div class="form-group">
									 <label class="control-label col-md-3">Silo Secador</label>
									 <div class="col-md-9">
									 {%QTDESILOSECADOR%}
									  </div>
								  </div>
							   </div>
							   <!--/span-->
							   <div class="col-md-6">
								  <div class="form-group">
									 <label class="control-label col-md-3">Capacidade(L)</label>
									 <div class="col-md-9">
										{%CAPACIDADESILOSECADOR%}
									 </div>
								  </div>
							   </div>
							</div>
							<!--/row-->        
							<div class="row">
							   <div class="col-md-6">
								  <div class="form-group">
									 <label class="control-label col-md-3">Tulha Madeira</label>
									 <div class="col-md-9">
									 {%QTDETULHAMADEIRA%}
									  </div>
								  </div>
							   </div>
							   <!--/span-->
							   <div class="col-md-6">
								  <div class="form-group">
									 <label class="control-label col-md-3">Capacidade(L)</label>
									 <div class="col-md-9">
										{%CAPACIDADETULHASMADEIRA%}
									 </div>
								  </div>
							   </div>
							</div>
							<!--/row-->        
							<div class="row">
							   <div class="col-md-6">
								  <div class="form-group">
									 <label class="control-label col-md-3">Tulha Ferro</label>
									 <div class="col-md-9">
									 {%QTDETULHAFERRO%}
									  </div>
								  </div>
							   </div>
							   <!--/span-->
							   <div class="col-md-6">
								  <div class="form-group">
									 <label class="control-label col-md-3">Capacidade(L)</label>
									 <div class="col-md-9">
										{%CAPACIDADETULHAFERRO%}
									 </div>
								  </div>
							   </div>
							</div>
							<!--/row-->        
							<div class="row">
							   <div class="col-md-6">
								  <div class="form-group">
									 <label class="control-label col-md-3">Máquina de Benefício</label>
									 <div class="col-md-9">
									 {%QTDEMAQUINABENEFICIO%}
									  </div>
								  </div>
							   </div>
							</div>
							<!--/row-->        
							<div class="row">
							   <div class="col-md-6">
								  <div class="form-group">
									 <label class="control-label col-md-3">Rebenefício Peneirão</label>
									 <div class="col-md-9">
									 {%QTDEREBENEFICIOPENEIRAO%}
									  </div>
								  </div>
							   </div>
							</div>
							<!--/row-->        
							<div class="row">
							   <div class="col-md-6">
								  <div class="form-group">
									 <label class="control-label col-md-3">Rebenefício Densimétrica</label>
									 <div class="col-md-9">
									 {%QTDEREBENEFICIODENSIMETRICA%}
									  </div>
								  </div>
							   </div>
							</div>
							<!--/row-->        
							<div class="row">
							   <div class="col-md-6">
								  <div class="form-group">
									 <label class="control-label col-md-3">Rebenefício Eletrônica</label>
									 <div class="col-md-9">
									 {%QTDEREBENEFICIOELETRONICA%}
									  </div>
								  </div>
							   </div>
							</div>
							<!--/row-->        
							<div class="row">
							   <div class="col-md-6">
								  <div class="form-group">
									 <label class="control-label col-md-3">Rebenefício Balão de Liga</label>
									 <div class="col-md-9">
									 {%QTDEREBENEFICIOBALAO%}
									  </div>
								  </div>
							   </div>
							</div>
							<!--/row-->        
							<div class="row">
							   <div class="col-md-6">
								  <div class="form-group">
									 <label class="control-label col-md-3">Armazém Prórprio</label>
									 <div class="col-md-9">
									 {%QTDEARMAZEMPROPRIO%}
									  </div>
								  </div>
							   </div>
							  <!--/span-->
							   <div class="col-md-6">
								  <div class="form-group">
									 <label class="control-label col-md-3">Capacidade (m2)</label>
									 <div class="col-md-9">
										{%CAPACIDADEARMAZEM%}
									 </div>
								  </div>
							   </div>
							</div>
							<h3 class="form-section">Uso de Ficha-controle</h3>
							<!--/row--> 
							<div class="row">
							   <div class="col-md-6">
								<div class="form-group">
								  <label class="control-label col-md-3">Rastreamento de Lotes</label>
								  <div class="col-md-9">
									<!--<div class="make-switch" data-on-label="Sim" data-off-label="N&atilde;o">-->
										{%CHKRASTREIALOTES%}
									 <!--</div>-->
								  </div>
								</div>
							   </div>
							   <!--/span-->
							   <div class="col-md-6">
								  <div class="form-group">
								  <label class="control-label col-md-3">Lavoura</label>
								  <div class="col-md-9">
									 <div class="make-switch" data-on-label="Sim" data-off-label="N&atilde;o">
										{%CHKCONTROLELAVOURA%}
									 </div>
								  </div>
								</div>
							   </div>
							</div>
							<!--/row--> 
							<div class="row">
							   <div class="col-md-6">
								<div class="form-group">
								  <label class="control-label col-md-3">Lavador</label>
								  <div class="col-md-9">
									<div class="make-switch" data-on-label="Sim" data-off-label="N&atilde;o">
										{%CHKCONTROLELAVADOR%}
									 </div>
								  </div>
								</div>
							   </div>
							   <!--/span-->
							   <div class="col-md-6">
								  <div class="form-group">
									  <label class="control-label col-md-3">Terreiro</label>
									  <div class="col-md-9">
										 <div class="make-switch" data-on-label="Sim" data-off-label="N&atilde;o">
											{%CHKCONTROLETERREIRO%}
										 </div>
									  </div>
								  </div>
							   </div>
							</div>
							<!--/row--> 
							<div class="row">
							   <div class="col-md-6">
								<div class="form-group">
								  <label class="control-label col-md-3">Secador</label>
								  <div class="col-md-9">
									<div class="make-switch" data-on-label="Sim" data-off-label="N&atilde;o">
										{%CHKCONTROLESECADOR%}
									 </div>
								  </div>
								</div>
							   </div>
							   <!--/span-->
							   <div class="col-md-6">
								  <div class="form-group">
								  <label class="control-label col-md-3">Tulha</label>
								  <div class="col-md-9">
									 <div class="make-switch" data-on-label="Sim" data-off-label="N&atilde;o">
										{%CHKCONTROLETULHA%}
									 </div>
								  </div>
								</div>
							   </div>
							</div>
							<!--/row--> 
							<div class="row">
							   <div class="col-md-6">
								<div class="form-group">
								  <label class="control-label col-md-3">Benefício</label>
								  <div class="col-md-9">
									<div class="make-switch" data-on-label="Sim" data-off-label="N&atilde;o">
										{%CHKCONTROLEBENEFICIO%}
									 </div>
								  </div>
								</div>
							   </div>
							   <!--/span-->
							   <div class="col-md-6">
								  <div class="form-group">
								  <label class="control-label col-md-3">Rebenefício</label>
								  <div class="col-md-9">
									 <div class="make-switch" data-on-label="Sim" data-off-label="N&atilde;o">
										{%CHKCONTROLEREBENEFICIO%}
									 </div>
								  </div>
								</div>
							   </div>
							</div>
							<!--/row--> 
							<div class="row">
							   <div class="col-md-6">
								<div class="form-group">
								  <label class="control-label col-md-3">Agrônomo Particular</label>
								  <div class="col-md-9">
									<div class="make-switch" data-on-label="Sim" data-off-label="N&atilde;o">
										{%CHKAGRONOMO%}
									 </div>
								  </div>
								</div>
							   </div>
							</div>
							<h3 class="form-section">Pré-Colheita</h3>
							<!--/row--> 
							<div class="row">
							   <div class="col-md-6">
								<div class="form-group">
								  <label class="control-label col-md-3">Realiza % Boia/Cereja</label>
								  <div class="col-md-9">
									<div class="make-switch" data-on-label="Sim" data-off-label="N&atilde;o">
										{%CHKBOIACEREJA%}
									 </div>
								  </div>
								</div>
							   </div>
							   <!--/span-->
							   <div class="col-md-6">
								  <div class="form-group">
								  <label class="control-label col-md-3">Amostragem de Maturação</label>
								  <div class="col-md-9">
									 <div class="make-switch" data-on-label="Sim" data-off-label="N&atilde;o">
										{%CHKAMOSTRAGEMMATURACAO%}
									 </div>
								  </div>
								</div>
							   </div>
							</div>
							<!--/row--> 
							<div class="row">
							   <div class="col-md-6">
								<div class="form-group">
								  <label class="control-label col-md-3">Prova por talhões</label>
								  <div class="col-md-9">
									<div class="make-switch" data-on-label="Sim" data-off-label="N&atilde;o">
										{%CHKPROVAPORTALHAO%}
									 </div>
								  </div>
								</div>
							   </div>
							</div>
							<h3 class="form-section">Colheita</h3>
							<!--/row--> 
							<div class="row">
							   <div class="col-md-6">
								<div class="form-group">
								  <label class="control-label col-md-3">Colheita Seletiva</label>
								  <div class="col-md-9">
									<div class="make-switch" data-on-label="Sim" data-off-label="N&atilde;o">
										{%CHKCOLHEITASELETIVA%}
									 </div>
								  </div>
								</div>
							   </div>
							   <!--/span-->
							   <div class="col-md-6">
								  <div class="form-group">
									 <label class="control-label col-md-3">% Colheita Mecânica</label>
									 <div class="col-md-9">
										 {%PERCCOLHEITAMECANICA%}
									 </div>
								  </div>
							   </div>
							</div>
							<h3 class="form-section">Benefício</h3>
							<!--/row-->                   
							<div class="row">
							   <div class="col-md-6">
								<div class="form-group">
								  <label class="control-label col-md-3">Confere Umidade antes de Armazenar</label>
								  <div class="col-md-9">
										{%CHKCONFEREUMIDADE%}
								  </div>
								</div>
							   </div>
							   <div class="col-md-6">
								  <div class="form-group">
									 <label class="control-label col-md-3">Método de Armazenagem</label>
									 <div class="col-md-9">
										{%MULTICOMBOMETODOARMAZENAGEM%}
									 </div>
								  </div>
							   </div>
							</div>
							<!--/row-->
							<div class="row">
							   <div class="col-md-6">
								  <div class="form-group">
									 <label class="control-label col-md-3">Cadastrado Por</label>
									 <div class="col-md-9">
										{%CADASTRADOPOR%}
									 </div>
								  </div>
							   </div>
							   <!--/span-->
							   <div class="col-md-6">
								  <div class="form-group">
									 <label class="control-label col-md-3">Editado Por</label>								  
									 <div class="col-md-9">
										{%EDITADOPOR%}
									 </div>
								  </div>
							   </div>
							</div>
						<!-- Botões-->	
						 <div class="form-actions fluid">
							<div class="row">
							   <div class="col-md-6">
								  <div class="col-md-offset-3 col-md-9">
									 <button id="SALVARBTN" type="submit" class="btn green">Salvar</button>
									 <button id="CANCELARBTN" type="button" class="btn default">Cancelar</button>
								  </div>
							   </div>
							</div>
						 </div>
					  </form>
					  <!-- END FORM-->                
				   </div>
				</div>
            </div>
         </div>
         <!-- END PAGE CONTENT-->
      </div>
      <!-- END PAGE -->    
   </div>
   <!-- END CONTAINER -->
   <!-- BEGIN FOOTER -->
   <div class="footer">
      <div class="footer-inner">
         2015 &copy; AgTracer
      </div>
      <div class="footer-tools">
         <span class="go-top">
         <i class="icon-angle-up"></i>
         </span>
      </div>
   </div>
   <!-- END FOOTER -->
   <!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
   <!-- BEGIN CORE PLUGINS -->   
   <!--[if lt IE 9]>
   <script src="assets/plugins/respond.min.js"></script>
   <script src="assets/plugins/excanvas.min.js"></script> 
   <![endif]-->   
   <script src="assets/plugins/jquery-1.10.2.min.js" type="text/javascript"></script>
   <script src="assets/plugins/jquery-migrate-1.2.1.min.js" type="text/javascript"></script>     
   <script src="assets/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
   <script src="assets/plugins/bootstrap/js/bootstrap2-typeahead.min.js" type="text/javascript"></script>
   <script src="assets/plugins/bootstrap-hover-dropdown/twitter-bootstrap-hover-dropdown.min.js" type="text/javascript" ></script>
   <script src="assets/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
   <script src="assets/plugins/jquery.blockui.min.js" type="text/javascript"></script>  
   <script src="assets/plugins/jquery.cookie.min.js" type="text/javascript"></script>
   <script src="assets/plugins/uniform/jquery.uniform.min.js" type="text/javascript" ></script>
   <!-- END CORE PLUGINS -->
   <!-- BEGIN PAGE LEVEL PLUGINS -->
   <script type="text/javascript" src="assets/plugins/fuelux/js/spinner.min.js"></script>
   <script type="text/javascript" src="assets/plugins/ckeditor/ckeditor.js"></script>  
   <script type="text/javascript" src="assets/plugins/bootstrap-fileupload/bootstrap-fileupload.js"></script>
   <script type="text/javascript" src="assets/plugins/select2/select2.min.js"></script>
   <script type="text/javascript" src="assets/plugins/bootstrap-wysihtml5/wysihtml5-0.3.0.js"></script> 
   <script type="text/javascript" src="assets/plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.js"></script>
   <script type="text/javascript" src="assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
   <script type="text/javascript" src="assets/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>
   <script type="text/javascript" src="assets/plugins/clockface/js/clockface.js"></script>
   <script type="text/javascript" src="assets/plugins/bootstrap-daterangepicker/moment.min.js"></script>
   <script type="text/javascript" src="assets/plugins/bootstrap-daterangepicker/daterangepicker.js"></script> 
   <script type="text/javascript" src="assets/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.js"></script>  
   <script type="text/javascript" src="assets/plugins/bootstrap-timepicker/js/bootstrap-timepicker.js"></script>
   <script type="text/javascript" src="assets/plugins/jquery-inputmask/jquery.inputmask.bundle.min.js"></script>   
   <script type="text/javascript" src="assets/plugins/jquery.input-ip-address-control-1.0.min.js"></script>
   <script type="text/javascript" src="assets/plugins/jquery-multi-select/js/jquery.multi-select.js"></script>
   <script type="text/javascript" src="assets/plugins/jquery-multi-select/js/jquery.quicksearch.js"></script>   
   <script src="assets/plugins/jquery.pwstrength.bootstrap/src/pwstrength.js" type="text/javascript" ></script>
   <script src="assets/plugins/bootstrap-switch/static/js/bootstrap-switch.min.js" type="text/javascript" ></script>
   <script src="assets/plugins/jquery-tags-input/jquery.tagsinput.min.js" type="text/javascript" ></script>
   <script src="assets/plugins/bootstrap-markdown/js/bootstrap-markdown.js" type="text/javascript" ></script>
   <script src="assets/plugins/bootstrap-maxlength/bootstrap-maxlength.min.js" type="text/javascript" ></script>
   <script src="assets/plugins/ion.rangeslider/js/ion-rangeSlider/ion.rangeSlider.min.js"></script>
   <!-- END PAGE LEVEL PLUGINS -->
   <!-- BEGIN PAGE LEVEL SCRIPTS -->
   <script src="assets/scripts/new_app.js"></script>
   <script src="assets/scripts/multiCombo.js"></script>
   <script src="assets/scripts/form-components.js"></script>     
   <!-- END PAGE LEVEL SCRIPTS -->
   <script>
      jQuery(document).ready(function() {       
         // initiate layout and plugins
         App.init();
		 multiCombo.init();
         FormComponents.init();
      });
   </script>

  

   <!-- END JAVASCRIPTS --> 
</body>
<!-- END BODY -->
</html>