.flavorColor-1{
 background-color: #1D5E1A !important;
 background-image: none !important;
}
.flavorColor-10{
 background-color: #521C1C !important;
 background-image: none !important;
}
.flavorColor-11{
 background-color: #D2AE3F !important;
 background-image: none !important;
}
.flavorColor-12{
 background-color: #F7910C !important;
 background-image: none !important;
}
.flavorColor-13{
 background-color: #CB6A3A !important;
 background-image: none !important;
}
.flavorColor-14{
 background-color: #4A3A16 !important;
 background-image: none !important;
}
.flavorColor-15{
 background-color: #84692A !important;
 background-image: none !important;
}
.flavorColor-16{
 background-color: #D77EC7 !important;
 background-image: none !important;
}
.flavorColor-17{
 background-color: #FDD004 !important;
 background-image: none !important;
}
.flavorColor-18{
 background-color: #C11036 !important;
 background-image: none !important;
}
.flavorColor-19{
 background-color: #3DA234 !important;
 background-image: none !important;
}
.flavorColor-20{
 background-color: #AA7B0F !important;
 background-image: none !important;
}
.flavorColor-21{
 background-color: #864904 !important;
 background-image: none !important;
}
.flavorColor-22{
 background-color: #58340B !important;
 background-image: none !important;
}
.flavorColor-23{
 background-color: #453A0E !important;
 background-image: none !important;
}
.flavorColor-24{
 background-color: #3D49B7 !important;
 background-image: none !important;
}
.flavorColor-25{
 background-color: #ADB73D !important;
 background-image: none !important;
}
.flavorColor-26{
 background-color: #747749 !important;
 background-image: none !important;
}
.flavorColor-27{
 background-color: #6F706D !important;
 background-image: none !important;
}